*.exe
*.exe~
*.dll
*.so
*.dylib
*.out
*.test
*.prof
*.mprof
*.log
*.zip
*.syso
*.fb2

build/
build_*/
release/
release_*/
*.jsonl
*.jsonl.gz
*.jsonl.zst
*.jsonl.zip
*.meta.json
*.meta.json.gz
*.meta.json.zst
*.meta.json.zip
*.inpx
data/
misc/version.go
